.img-container {
  position: relative;
  padding-top: 66.59%;
}

/*==== This part is the attributes for all the logo images ====*/
.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-brand {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 70px;
  width: 70px;
}
.navbar-brand > img {
  position: relative;
}

.navbar-nav {
  height: 70px;
  width: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.dropdown-toggle {
  height: 70px;
  width: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
/*==== CSS for carousel ====*/
.carousel-inner {
  width: auto;
  height: 600px !important;
}

.carousel-item {
  height: 100%;
  position: absolute;
}

.carousel {
  border-radius: 20px;
}

/*==== CSS for body container ====*/
.inner-container {
  margin-top: 85px;
}

/* Set the cards height to a minimum */

.card img {
  height: 160px;
}

/*==== Styles for the the Toys & Hobbies page ====*/
.tHobbies .card-subtitle {
  color: #fd9843;
}

/*====  Styling for the Product info page ====*/

/* For number selectors */
/* Left button (minus) */
.prodinfo #input-spinner-left-button {
  border-radius: 0.375rem 0 0 0.375rem;
  background-color: #e9ecef;
  border-color: #afafaf;
  color: black;
}

/* Right button (plus) */
.prodinfo #input-spinner-right-button {
  border-radius: 0 0.375rem 0.375rem 0;
  background-color: #e9ecef;
  border-color: #afafaf;
  color: black;
}

/*====  CSS for the Account's Merchant Store page ====*/
.merch .outerbox,
.sidebar {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

/* css for the side navigation bar */
.merch .sidebar .unselected {
  text-decoration: none;
  display: flex;
  color: #9c9c9c;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  height: 53px;
  border-bottom: 2px solid #d6d5d5;
}

.merch .sidebar .unselected:hover {
  background-color: #e9ecef;
}

.merch .sidebar .active {
  background-color: #faa660;
  color: #f3f3f3;
}

/*  For the buttons */
.merch .normButt {
  width: 100px;
  height: 40px;
  background-color: #fd9843;
  border-color: #fd9843;
}

.merch .selectButt {
  width: 100px;
  line-height: 12px;
  font-size: 30px;
  height: 40px;
  background-color: #fd9843;
  border-color: #fd9843;
}

/* CSS for the merchant store pic */
.merch .storepage img {
  height: 120px;
  width: 140px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.merch .storepage button {
  width: 120px;
  font-size: 14.5px;
  background-color: #fd9843;
  border-color: #fd9843;
}

/*==== CSS for the Add Products page ====*/

.addprod .box {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  padding-inline-start: 82px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-inline-end: 140px;
}

/*  For the buttons */
.addprod button {
  width: 100px;
  height: 40px;
  background-color: #fd9843;
  border-color: #fd9843;
}

/*==== CSS for the Store's products page ====*/
.prods button {
  background-color: #fd9843;
  border-color: #fd9843;
}

/*==== CSS for the Cart page ====*/
.cart {
  height: 452px;
  width: 1114px;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.cart-header {
  margin-top: 142px;
  width: 1114px;
  box-shadow: 0px -0.5px 4px 0px rgba(0, 0, 0, 0.25);
}

.cart .row {
  border-bottom: solid #c5c5c567 1.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 107px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-header .row {
  border-bottom: solid black 1px;
  height: auto;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 90px;
}
