.img-container {
  position: relative;
  padding-top: 66.59%;
}

/* This part is the attributes for all the logo images */
.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 70px;
  width: 70px;
}
.navbar-brand > img {
  position: relative;
}

.navbar-nav {
  height: 70px;
  width: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

/* CSS for carousel */
.carousel-inner {
  width: auto;
  height: 600px !important;
}

.carousel-item {
  height: 100%;
  position: absolute;
}

.carousel {
  border-radius: 20px;
}

/* CSS for body container */
.inner-container {
  margin-top: 85px;
}

/* Set the cards height to a minimum */

.card img {
  height: 160px;
}

/* Styles for the the Toys & Hobbies page */
.tHobbies .card-subtitle {
  color: #fd9843;
}
